# frozen_string_literal: true

# TODO: Can we just merge this with the standard task template?

module <%= tasks_module %>
<% module_namespacing do -%>
  class <%= class_name %>Task < MaintenanceTasks::Task
    csv_collection

    def process(row)
      # The work to be done on a row of the CSV
    end
  end
<% end -%>
end
