# frozen_string_literal: true

# Custom configuration for the tasks namespace can be defined here, ie.
# MaintenanceTasks.tasks_module = 'Maintenance'
<% unless Rails.autoloaders.zeitwerk_enabled? -%>
Rails.application.config.to_prepare do
  Dir["#{Rails.root}/app/jobs/maintenance/*.rb"].each do |file|
    require_dependency(file)
  end
end
<% end -%>
