# frozen_string_literal: true

module <%= tasks_module %>
<% module_namespacing do -%>
  class <%= class_name %>Task < <%= parent_class_name.classify %>
    no_collection

    def process
      # The work to be done
    end
  end
<% end -%>
end
