<div class="box">
  <h3 class="title is-3">
    <%= link_to task, task_path(task) %>
    <%= status_tag(task.status) %>
  </h3>

  <%= render 'maintenance_tasks/runs/info', run: task.last_run, with_status: false if task.last_run %>
</div>
