<h1 class="title">Maintenance Tasks</h1>

<aside class="menu">
  <ul class="menu-list">
    <% @tasks.each do |task| %>
      <li><%= link_to task, task_path(task) %></li>
    <% end %>
  </ul>
</aside>
