<% if @available_tasks.empty? %>
  <div class="content is-large">
    <h3 class="title is-3"> The MaintenanceTasks gem has been successfully installed! </h3>
    <p>
      Any new Tasks will show up here. To start writing your first Task, 
      run <code>rails generate maintenance_tasks:task my_task</code>.
    </p>
  </div>
<% else %>
  <% if active_tasks = @available_tasks[:active] %>
    <h3 class="title is-3">Active Tasks</h3>
    <%= render partial: 'task', collection: active_tasks %>
  <% end %>
  <% if new_tasks = @available_tasks[:new] %>
    <h3 class="title is-3">New Tasks</h3>
    <%= render partial: 'task', collection: new_tasks %>
  <% end %>
  <% if completed_tasks = @available_tasks[:completed] %>
    <h3 class="title is-3">Completed Tasks</h3>
    <%= render partial: 'task', collection: completed_tasks %>
  <% end %>
<% end %>
