<% if run.csv_file.present? %>
  <div class="block">
    <%= link_to(csv_file_download_path(run), class: "button is-small is-light", download: "") do %>
      <span aria-hidden="true" class="mr-1">⬇</span>Download CSV
    <% end %>
  </div>
<% end %>
