<div class="box">
  <h5 class="title is-5">
    <%= time_tag run.created_at, title: run.created_at %>
    <%= status_tag run.status %>
  </h5>

  <%= render 'maintenance_tasks/runs/info', run: run %>
</div>
