<% if serializable.present? %>
  <% case serializable %>
  <% when Hash %>
    <div class="arguments-container grid is-col-min-15">
      <% serializable.transform_values(&:to_s).each do |key, value| %>
        <div class="cell mb-4">
          <div class="is-family-monospace mb-2"><%= key %></div>
          <div class="is-flex justify-content">
            <% if !value.empty? %>
              <% if value.include?("\n") %>
                <pre><%= value %></pre>
        	  <% else %>
                <code><%= value %></code>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <code><%= serializable.inspect %></code>
  <% end %>
<% end %>
