<p id="notice"><%= notice %></p>

<h1>Enqueue Task</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @available_tasks.each do |task| %>
      <tr>
        <td><%= task %></td>
        <td><%= link_to 'Enqueue', runs_path(name: task.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
