<nav class="navbar is-dark is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'Maintenance Tasks', root_path, class: 'navbar-item is-size-4 has-text-weight-semibold has-text-danger' %>
  </div>
</nav>
