name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} / ${{ matrix.gemfile }} / ${{ matrix.database }}
    strategy:
      fail-fast: false
      matrix:
        gemfile: [Gemfile, gemfiles/rails_6_0.gemfile, gemfiles/rails_6_1.gemfile, gemfiles/rails_7_0.gemfile, gemfiles/rails_edge.gemfile]
        ruby: ["2.7", "3.0", "3.1", "3.2"]
        database: [sqlite]
        include:
          - gemfile: "gemfiles/postgresql.gemfile"
            ruby: 3.1
            database: postgres
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      DB: ${{ matrix.database }}
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        cache-version: 1
        rubygems: ${{ (matrix.ruby == '2.7' || matrix.ruby == '3.0') && 'latest' || 'default' }}
    - name: Rails version
      if: ${{ matrix.gemfile == 'gemfiles/rails_edge.gemfile' }}
      run: bundle info rails | head -1
    - name: Start Postgres
      if: ${{ matrix.database == 'postgres' }}
      run: |
        sudo sed -i s/scram-sha-256/trust/g /etc/postgresql/*/main/pg_hba.conf
        sudo systemctl start postgresql.service
        echo "DATABASE_URL=postgresql://postgres:@localhost:5432/maintenance_tasks_test" >> $GITHUB_ENV
    - name: Set up database
      run: RAILS_ENV=test bundle exec rails db:setup
    - name: Ruby Tests
      run: bundle exec rails test
    - name: System Tests
      run: bundle exec rails test:system
    - name: RuboCop
      run: bundle exec rubocop
    - name: Archive system test artifacts
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: screenshots
        path: test/dummy/tmp/screenshots
