name: Ruby

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Set up Ruby
      uses: actions/setup-ruby@v1.1.3
      with:
        ruby-version: '2.7.2'
    - name: Restore cache
      uses: actions/cache@v2.1.4
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Install dependencies
      run: |
        bundle config path vendor/bundle
        bundle config frozen true
        bundle install --jobs 4 --retry 3
    - name: Set up database
      run: RAILS_ENV=test bundle exec rails db:setup
    - name: Ruby Tests
      run: bundle exec rails test
    - name: System Tests
      run: bundle exec rails test:system
    - name: RuboCop
      run: bundle exec rubocop
    - name: Archive system test artifacts
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: screenshots
        path: test/dummy/tmp/screenshots
