name: "Close stale issues"
on:
  schedule:
    - cron: "30 1 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          days-before-issue-stale: 60
          exempt-issue-labels: "Blocked"
          days-before-issue-close: 14
          stale-issue-label: "stale"
          stale-issue-message: >
            This issue has been marked as stale because it has not been commented on in two months.

            Please reply in order to keep the issue open. Otherwise, it will close in 14 days.

            Thank you for contributing!

